body {
    font-family: Roboto, sans-serif;
    margin: 0
}

#app {
    background: #008577;
    padding-top: 40px;
    text-align: center;

    margin-bottom: 40px;
}

@media (min-width:1025px) {

    #app {
        margin-bottom: 100px;
    }

}

#app #wrap-inner {
    margin: auto auto;
    display: table;
}
#app #screens {
    display: none;

    margin-right: 10px;
    vertical-align: bottom;
}

@media (min-width:1025px) {
    #app #screens {
        display: table-cell;
    }
}


#app #text {
    display: table-cell;

    text-align: left;

    vertical-align: bottom;
    color: #ffffff;

    padding-bottom: 10px;
}

@media (min-width:1025px) {
    #app #text {
        padding-bottom: 50px;
    }
}


#app #text #title {
    margin-left: 20px;
}
#app #text #title a {
    color: #fff;
    text-decoration: none
}
#app #text h1 {
    font-size: 42px;
    display: inline;
    vertical-align: top;
}
#app #text #icon {
    display: inline;
    margin-right: 20px
}

#app #text ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    font-size: 20px;
}
#app #text li {
    margin-bottom: 10px
}


#content {
    margin: auto auto;
    margin-bottom: 100px;
    line-height: 1.6em;
    width: 92%;
}

@media (min-width:1025px) {

    #content {
        width: 44%;
    }

}


#content p {
    margin-bottom: 20px;
}

.highlight {
    color: #008577
}

#content a,
#content a:active,
#content a:visited,
#content a:hover {
    color: #008577
}

#description {
    margin-bottom: 50px;
}

@media (min-width:1025px) {
    #description {
        margin-bottom: 70px;
    }
}


#description .first {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 40px;
}

#faq {
    margin-bottom: 60px;
}
#faq h2 {
    font-size: 32px
}
#faq ul {
    list-style-type: none;
    padding: 0;
}
#faq li {
    margin-bottom: 36px;
}


#get-it-bottom {
    margin-bottom: 40px;
    width: 100%;
    background: #008577;
    padding-top: 10px;
    padding-bottom: 4px;
    border-radius: 10px;

    text-align: center;
}
#get-it-bottom a {
    text-decoration: none
}
#get-it-bottom #app-name-link, #gplay-button {
}

#get-it-bottom span {
    font-weight: bold;
    margin-top: 28px;
    vertical-align: top;
    color: #fff;
    font-size: 42px;
    display: inline-block;
    width: 280px;
}
#get-it-bottom #app-icon {
    vertical-align: top;
    margin-top: 14px;
    display: inline-block;
}



#footer {
    margin-top: 80px;
    text-align: left;
    color: #aaa;
}

#footer a,
#footer a:active,
#footer a:visited,
#footer a:hover {
    color: #aaa
}

