body {
    font-family: Roboto, sans-serif;
    margin: 0
}

#app {
    background: #008577;
    padding-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}
#app #wrap-inner {
    display: table;
    margin: auto auto;
    text-align: left;
}
#app #screens {
    display: table-cell;
    width: 475px;
    margin-right: 10px
}
#app #text {
    width: 430px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 80px;
    color: #ffffff
}
#app #text #title {
    margin-left: 20px;
}
#app #text #title a {
    color: #fff;
    text-decoration: none
}
#app #text h1 {
    font-size: 42px;
    display: inline;
    vertical-align: top;
}
#app #text #icon {
    display: inline;
    margin-right: 20px
}

#app #text ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    font-size: 20px;
}
#app #text li {
    margin-bottom: 10px
}


#content {
    margin: auto auto;
    margin-bottom: 100px;
    width: 640px;
    line-height: 1.6em;
}

.highlight {
    color: #008577
}

#content a,
#content a:active,
#content a:visited,
#content a:hover {
    color: #008577
}

#description {
    margin-bottom: 70px
}
#description .first {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 40px;
}

#faq {
    margin-bottom: 60px;
}
#faq h2 {
    font-size: 32px
}
#faq ul {
    list-style-type: none;
    padding: 0;
}
#faq li {
    margin-bottom: 36px;
}


#get-it-bottom {
    margin-bottom: 40px;
    display: table;
    width: 100%;
    background: #008577;
    padding-top: 10px;
    padding-bottom: 4px;
    border-radius: 10px;
}
#get-it-bottom a {
    text-decoration: none
}
#get-it-bottom #app-name-link, #gplay-button {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

#get-it-bottom #app-name-link {
    width: 390px;
}
#get-it-bottom #gplay-button {
    width: 252px;
}

#get-it-bottom span {
    font-weight: bold;
    display: inline-block;
    margin-top: 28px;
    font-size: 42px;
    vertical-align: top;
    color: #fff;
}
#get-it-bottom #app-icon {
    vertical-align: top;
    margin-top: 14px;
    margin-right: 20px;
}



#footer {
    margin-top: 80px;
    text-align: left;
    color: #aaa;
}

#footer a,
#footer a:active,
#footer a:visited,
#footer a:hover {
    color: #aaa
}

